<!DOCTYPE html>

<html lang = "es">
    
<%- include ("./partials/head") %>

    <body>
    
        <header class= "header">

                <nav class="menuM">
            <ul type = none>
                <li><a href= #> <i class="fas fa-bars"></i> </a>
                <ul>
                    <li><a href= #> Inicio </a></li>
                    <li><a href= #> Productos </a></li>
                     <li><a href= #> Nosotros </a></li>
                </ul>
            </li>
            </ul>
                </nav>
            
                <nav class="menuD">
                    <ul type = none>
                            <li><a href= #> Inicio </a></li>
                            <li><a href= #> Productos </a></li>
                             <li><a href= #> Nosotros </a></li>
                    </ul>
                        </nav>
           
            <a href= # class = "iconosHeader"><i class="fas fa-search"></i></a>
            
            <img src = "/img/Logo - Blanco.png" alt = "Logo">

            <a href= # class = "iconosHeader"><i class="far fa-user"></i></a>
            <a href= # class = "iconosHeader"><i class="fas fa-shopping-cart"></i></a>
            
            <ul id="iconosD">
                <li> <a href= #><i class="fas fa-search"></i></a> </li>
                <li> <a href= #><i class="far fa-user"></i></a></li>
                <li><a href= #><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </header>
        
<main>

        <img src="/img/1.jpg" alt="oceano">

         <div class = "formularios">   
            <form action = "/" method="POST">
                <label for="E-mail"> E-mail </label>
                <p><input type="email" placeholder="tu@e-mail.com" name="E-mail" id="box"></p>
                <label for="Contraseña"> Contraseña </label>
                <p><input type="password" name="Contraseña" id="box"></p>
            </form>

        <button type="submit" class="btn"> Iniciar Sesión </button>

        <div id = "olvido-contrasena"> 
            <p><a href= #> ¿Olvidaste tu contraseña? </a></p>
        </div>

        <div id = "nuevoUsuario"> 
            <p><a href= #> No tenés un usuario? Registrate! </a></p>
        </div>
</div>
        
</main>

<footer class= "footer">

    <div class="navegadorFooter">
       <nav>
        <ul>
            <li><a href= #> Inicio </a></li>
            <li><a href= #> Productos </a></li>
            <li><a href= #> Nosotros </a></li>
        </ul>
        </nav>
    </div>

    <div class="mediosDePago">
        <h2>Medios de pago</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="Logo-de-visa">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Logo-de-Mastercard">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" alt="Logo-de-AmericanExpress">
    <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" alt="Logo-de-Mercadopago">
    </div>

    <div class="contacto">
    <h2> Contactanos </h2>
    <a href= #> info@ecobitad.com </a>
    </div>

    <div class="redes-sociales">
        <h2>Redes Sociales</h2>
        <nav>
    <ul id="iconos-redes">
        <li><a href= #> <i class="fab fa-instagram"></i> </a></li>
        <li><a href= #> <i class="fab fa-twitter"></i> </a></li>
        <li><a href= #> <i class="fab fa-facebook"></i> </a></li>
    </ul>
    
    </section>

</footer> 

<div>
    <p id = "derechos">
        Todos los derechos reservados.
    </p>
</div>

</body>

</html>

