<!DOCTYPE html>

<html lang = "es">
    
<%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        
<main>

<div id="contenedor">

    <img src="/img/1.jpg" alt="oceano">

<div id= "formularios">
    <form action= "/usuario/acceder" method="POST">
        <label for="email"> E-mail </label>
        <p><input type="email" placeholder="tu@e-mail.com" name="email" class= "datosUser"></p>
        <label for="password"> Contraseña </label>
        <p><input type="password" name="password" class= "datosUser"><p>
        <button type="submit" class="btn"> Iniciar Sesión </button>
        <p><label for="rememberUser" class="rememberUser"><input type="checkbox" name="rememberUser" class="rememberUser"> Recordar usuario </label></p>
    </form>

    <div id = "olvido-contrasena"> 
        <p><a href= #> ¿Olvidaste tu contraseña? </a></p>
    </div>

    <div id = "nuevoUsuario"> 
        <p><a href= "/usuario/registro"> No tenés un usuario? Registrate! </a></p>
    </div>

</div>
</div>
</main>

<%- include ('../partials/footer') %>

</body>

</html>

