<!DOCTYPE html>

<html lang = "es">

    <%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        <script src="/js/register.js"></script>
<main>

    <img src="/img/2.jpg" alt="grass" class="img"> 
    
        <div class = "formularios">

            
            <form action = "/usuario/registro" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name"> Nombre </label>
                    <p><input type="text" name="name" class="box" ></p>
                </div>
                <div>
                    <label for="lastName"> Apellido </label>
                    <p><input type="text" name="lastName" class="box" ></p>
                </div>
                <div>
                    <label for="email"> E-mail </label>
                    <p><input type="email" name="email" class="box" ></p>
                </div>
                <div> 
                    <label for="age"> Edad </label>
                    <p><input type="number" name="age" class="box" min="0" ></p>
                <div>
                    <label for="city"> Ciudad </label>
                    <p><input type="text" name="city" class="box" ></p>
                </div>
                <div>
                    <label for="password"> Contraseña </label>
                    <p><input type="password" name="password" class="box" ></p>
                </div>
                <div>
                    <label for="image" class="picture"> Subí tu imagen </label>
                    <input type="file" name="image" id="file" class="picture">
                </div>
                <p><button type="submit" class="btn"> Registrarse </button></p>
            </form>

        

        </div>
        
</main>
 
<%- include ('../partials/footer') %>

    </body>
        
</html>
        
        