<!DOCTYPE html>

<html lang = "es">

    <%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        
<main>

    <img src="/img/2.jpg" alt="grass" class="img"> 
    
        <div class = "formularios">

            
            <form action = "/usuario/registro" method="POST" enctype="multipart/form-data">
                <label for="name"> Nombre </label>
                <p><input type="text" name="name" id="box" ></p>
                <label for="lastName"> Apellido </label>
                <p><input type="text" name="lastName" id="box" ></p>
                <label for="email"> E-mail </label>
                <p><input type="email" name="email" id="box" ></p>
                <label for="age"> Edad </label>
                <p><input type="number" name="age" class="box" min="0" ></p>
                <label for="address"> Direccion </label>
                <p><input type="text" name="address" id="box" ></p>
                <label for="password"> Contraseña </label>
                <p><input type="password" name="password" id="box" ></p>
                <label for="image"> Subí tu imagen </label>
                <input type="file" name="image" id="file">
                <p><button type="submit" class="btn"> Registrarse </button></p>
            </form>

        

        </div>
        
</main>
 
<%- include ('../partials/footer') %>

    </body>
        
</html>
        
        