<!DOCTYPE html>

<html lang = "es">

    <%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        
<main>

    <img src="/img/2.jpg" alt="grass">
    
        <div class = "formularios">

            
            <form action = "/" method="POST">
                <label for="Nombre"> Nombre </label>
                <p><input type="text" name="Nombre" id="box"></p>
                <label for="Apellido"> Apellido </label>
                <p><input type="text" name="Apellido" id="box"></p>
                <label for="E-mail"> E-mail </label>
                <p><input type="email" name="E-mail" id="box"></p>
                <label for="Teléfono"> Teléfono </label>
                <p><input type="tel" name="Teléfono" id="box"></p>
                <label for="Contraseña"> Contraseña </label>
                <p><input type="password" name="Contraseña" id="box"></p>
                <label for="Confirmar-Contraseña"> Confirmar contraseña </label>
                <p><input type="password" name="Confirmar-Contraseña" id="box"></p>
            </form>

            <p><button type="submit" class="btn"> Registrarse </button></p>

        </div>
        
</main>
 
<%- include ('../partials/footer') %>

    </body>
        
</html>
        
        