<header class= "header">

    <nav class="menuM">
<ul type = none>
    <li><a href= #> <i class="fas fa-bars"></i> </a>
    <ul>
        <li><a href= "/"> Inicio </a></li>
        <li><a href= "/producto"> Productos </a></li>
         <li><a href= #> Nosotros </a></li>
    </ul>
</li>
</ul>
    </nav>

    <nav class="menuD">
        <ul type = none>
                <li><a href= "/"> Inicio </a></li>
                <li><a href= "/producto"> Productos </a></li>
                 <li><a href= #> Nosotros </a></li>
        </ul>
            </nav>

<a href= # class = "iconosHeader"><i class="fas fa-search"></i></a>

<img src = "/img/Logo - Blanco.png" alt = "Logo">

<a href= "/usuario/acceder" class = "iconosHeader"><i class="far fa-user"></i></a>
<a href= "/producto/carrito" class = "iconosHeader"><i class="fas fa-shopping-cart"></i></a>

<% if(locals.isLogged) {%>
<ul id="iconosD">
    <li> <a href= #><i class="fas fa-search"></i></a> </li>
    <li> <a href= "/usuario/perfil/<%=locals.userLogged.id%>"> <%= locals.userLogged.name + " " + locals.userLogged.lastName%></a></li>
    <li><a href= "/producto/carrito"><i class="fas fa-shopping-cart"></i></a></li>
</ul>
<% } else { %>
<ul id="iconosD">
    <li> <a href= #><i class="fas fa-search"></i></a> </li>
    <li> <a href= "/usuario/acceder"><i class="far fa-user"></i></a></li>
</ul>
<% } %>


</header>