body {
    background-color:white;
    font-family: "Spartan";
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}
.contenedor{
    display: flex;
}

#total{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
.producto{
    margin-left: 40px; 
}
.columna{
    flex-direction: column;
}
.espaciado{
    justify-content: space-between;
    margin-right: 40px;
}

.izquierda{
    text-align: left;
    margin-left: 40px;
}
.detalle{
    text-align: left;
    line-height: 15px;
}

.derecha{
    margin-left: 830px;
}

