body {
    background-color: white;
    font-family: "Spartan";
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    text-align: center;
  
}

.carrito{
    margin-top: 15px;
    margin-bottom: 15px;
}

.palabra-producto{
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.contenedor-cepillo{
    display:flex;
    justify-content: start;    
    margin-left: 10px;
    margin-right: 10px;                                                                                               
}

#total{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.contenedor-jabonera{
    display:flex;
    justify-content: start;  
    margin-left: 10px;
    margin-right: 10px;                                                                                             
}


.derecha{
    margin-left: 830px;
}

@media screen and (min-width: 768px) {
body {
    background-color:white;
    font-family: "Spartan";
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    text-align: center;
  
}
.contenedor{
    display: flex;
}

#total{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
.producto{
    margin-left: 40px; 
}
.columna{
    flex-direction: column;
}
.espaciado{
    justify-content: space-between;
    margin-right: 40px;
}

.izquierda{
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.detalle{
    text-align: left;
    line-height: 15px;
}

.derecha{
    margin-left: 830px;
}
}