*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height:auto;
}
body {
    background-color:white;
    font-family: "Spartan";
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    text-align: center;
    
}
#banner-main article{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30vh;
    overflow: hidden;
}
#banner-main article h2{
    position: absolute;
    background-color: rgba(12, 12, 12, .4);
    color: snow;
    font-style:normal;
    font-weight: bold;
    font-size: 36px;
    
}
#categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

   

 #categorias article a{
     position: absolute;
     background-color: rgba(12, 12, 12, .4);
     color: black;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items:center;
     text-align: center;
    
 }   
 #categorias article figure{
     display: flex;
     justify-content: center;
     width: 25vw;
     height: 30vh;
     padding: 10px;
     margin-top:60px;
     margin-bottom: 60px;
 }
 #categorias figure a{
    position: absolute;
    background-color: rgba(12, 12, 12, 0.4);
    background-position: center;
    color: white;
    width: 23.8%;
    height: 91%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    
 }
 @media screen and (min-width: 768px){
     #categorias{
         display: flex;
         justify-content: space-between;
         margin:0 16px;
         flex-direction:row;
         widows: 100%;
         height:30vh ;
         
     }
     #categorias figure{
         flex: 1;
         overflow: hidden;
         position: relative;

     }
     #categorias figure a{
        position: absolute;
        background-color: rgba(12, 12, 12, 0.4);
        background-position: center;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        font-weight: bold;
        
     }
 }