body {
    background-color:white;
    font-family: "Spartan Medium";
    font-size: 17px;
    font-style: normal;
    text-align: center;
}

.header{
    background-color: #CEDDEF;
    width: 100%;
    height: 70px;
    padding: 4px 8px;
    position:static;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
}

.header a{
    color: #113C4A;
    text-decoration: none;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 16px;
}

#iconos li{
    display: inline;
    padding: 16px;
}

.footer {
    background-color: #CEDDEF;
    width: 100%;
    height: 100px;
    padding: 4px 8px;
    position:static;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-footer {
    text-align: left;
}

#menu-footer li a {
    text-decoration: none;
}

#medios-de-pago {
    text-align: left;
}

#contacto {
    text-align: left;
}

#contacto li a {
    text-decoration: none;
}

#redes-sociales {
    text-align: left;
}

#redes-sociales li a {
    text-decoration: none;
}

#derechos {
    font-size:x-small;
    text-align: right;
}
