body {
    background-color:white;
    font-family: "Spartan";
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    text-align: center;

}

.izquierda{
    text-align: left;
    margin-top: 50px;
    margin-left: 200px;
}

.contenedor-medio {
    display: flex;  
    flex-direction: row; 
    margin-left: 120px;  
  
    
}
.contenedor{
    display: flex;
    margin-left: 120px;  
    margin-top: 40px;
    border-style: solid;
    border-color: #9daef5;
    border-width:1px;
    padding-top: 30px;
    padding-bottom: 30px;
    
} 
 #miniaturas{
     display:flex; 
     flex-direction: column;
     margin-left: 120px;  
 }

 #miniaturas img {
     width: 180px;
     height: 180px;    
 }

 #specific{
     margin-top: 4px;
 }

 #destacada img {
    flex-direction: row;
    width: 360px;
     height: 364px;
     align-items: flex-start;
     margin-left: 5px;
}

.contenedor-chico-2{
    margin-left: 70          p[;;;lpx;
    justify-content: left;
    text-align: left;
    
}
.delivery {
text-align: left;
margin-top: 10px;
display: inline-block;
}

.delivery p{
    margin-bottom: 0px;
}


.pago {
    text-align: left;
    margin-top: 30px;
    }
