<!DOCTYPE html>

<html lang = "es">
    
    <%- include ('../partials/head') %>
    
    <body>
    
        <%- include ('../partials/header') %>

    <section class="carrito">
    <p class="izquierda">Carrito de Compras</p>
    </section>
<hr>

<section class="primera"> 
    <section class="palabra-producto">
        <article class="producto">Productos</article> 
    </section>

    <section class="contenedor-cepillo">
        <article class="cepillos">
            <figure>
                <img id="cepillo" src="/assets/images/cepillos.jpg" >
            </figure>
        </article> 
        <article class="detalle">
                <p>Cepillo de dientes Bambú colores.</p>
                <p id="color">Color: Lila.</p>
                <p id="precio" > $80</p>
            
                <section class="cantidad-tachito">
                    <form>
                        <input type="number" id="cantidad" name="quantity">
                    </form>
                    <form>
                        <input type="hidden" id="producto" name="product" value="2">
                        <button type="submit">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </section>  
            </nav>
            
            <nav class="opciones">
                <ul type = none>
                        <li><a href= #> Comprar ahora</a></li>
                        
                        <li><a href= #> Ver más productos </a></li>
                </ul>
                    </nav>
                
        </article>  
    </section>
<hr>
    <section class="contenedor-jabonera">
        <article class="jaboneras">
            <figure>
                <img id="jabonera" src="/assets/images/jabonera.jpg" >
            </figure>
        </article>
        <article class="detalle">
                <p>Jabonera de madera.</p>
                <p id="precio" >$350</p>
            <section class="cantidad-tachito">
                <form>
                    <input type="number" id="cantidad" name="quantity">
                </form>
                <form>
                    <input type="hidden" id="producto" name="product" value="2">
                    <button type="submit">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form>
            </section>
        </nav>
            
        <nav class="opciones">
            <ul type = none>
                    <li><a href= #> Comprar ahora</a></li>
                    
                    <li><a href= #> Ver más productos </a></li>
                     
            </ul>
                </nav>
            

        </article>

    </section>
</section>

<section class="segunda">       
    <section class="sin-envio">
        <article id="total">
        <p>Total (sin envío):</p>
        </article>
        <article>
       <p>$ 430</p>
        </article>
    </section> 
    
    <section class="izquierda"></section>
            <i class="fas fa-truck"></i>
            <span class="medios"> Medios de envío</span>
        <form>
            <input type="text" id="codigoPostal" name="postalCode" placeholder="Ingrese su código postal">
            <button type="CALCULAR">CALCULAR</button>
        </form>
        <a class="conocer" href="https://www.correoargentino.com.ar/formularios/cpa">No conozco mi código postal</a>

        <section class="con-envio">
            <article class="con-envio-total">
            <p>Total con envío:</p>
        </article>
            <article class="con-envio-precio ">  
           <p>$ 510</p>
            </article>
        </section>
        <section class="comprar">
        <button class="comprar-btn">
            <a href="/Comprar" >Continuar compra</a>
        </button>
    </section>
    

</section>
<hr>

<%- include ('../partials/footer') %>

</body>

</html>

