<!DOCTYPE html>

<html lang = "es">
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel= "Stylesheet" href= "/css/cart.css">
    <link rel= "Stylesheet" href= "/css/header.css">
    <link rel= "Stylesheet" href= "/css/footer.css">
    
    
    <title> EcoBitad </title>
    
    <script src="https://kit.fontawesome.com/d8781bdac2.js" crossorigin="anonymous"></script>

    </head>

    <title> EcoBitad </title>
    
    <script src="https://kit.fontawesome.com/d8781bdac2.js" crossorigin="anonymous"></script>

    </head>

    <body>
    
        <header class= "header">

                <nav class="menuM">
            <ul type = none>
                <li><a href= #> <i class="fas fa-bars"></i> </a>
                <ul>
                    <li><a href= #> Inicio </a></li>
                    <li><a href= #> Productos </a></li>
                     <li><a href= #> Nosotros </a></li>
                </ul>
            </li>
            </ul>
                </nav>
            
                <nav class="menuD">
                    <ul type = none>
                            <li><a href= #> Inicio </a></li>
                            <li><a href= #> Productos </a></li>
                             <li><a href= #> Nosotros </a></li>
                    </ul>
                        </nav>
           
            <a href= # class = "iconosHeader"><i class="fas fa-search"></i></a>
            
            <img src = "/img/Logo - Blanco.png" alt = "Logo">

            <a href= # class = "iconosHeader"><i class="far fa-user"></i></a>
            <a href= # class = "iconosHeader"><i class="fas fa-shopping-cart"></i></a>
            
            <ul id="iconosD">
                <li> <a href= #><i class="fas fa-search"></i></a> </li>
                <li> <a href= #><i class="far fa-user"></i></a></li>
                <li><a href= #><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </header>
    <section class="carrito">
    <p class="izquierda">Carrito de Compras</p>
    </section>
<hr>

<section class="primera"> 
    <section class="palabra-producto">
        <article class="producto">Producto</article> 
    </section>

    <section class="contenedor-cepillo">
        <article class="cepillos">
            <figure>
                <img id="cepillo" src="/assets/images/cepillos.jpg" width="160" height="160">
            </figure>
        </article> 
        <article class="detalle">
                <p>Cepillo de dientes Bambú colores</p>
                <p id="precio" > $80</p>
            
                <section class="cantidad-tachito">
                    <form>
                        <input type="number" id="cantidad" name="quantity">
                    </form>
                    <form>
                        <input type="hidden" id="producto" name="product" value="2">
                        <button type="submit">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </section>  
            </nav>
            
            <nav class="opciones">
                <ul type = none>
                        <li><a href= #> Comprar ahora</a></li>
                        <li><a href= #> Guardar para después </a></li>
                         
                </ul>
                    </nav>
                
        </article>  
    </section>
<hr>
    <section class="contenedor-jabonera">
        <article class="jabonera">
            <figure>
                <img id="jabonera" src="/assets/images/jabonera.jpg" width="160" height="160">
            </figure>
        </article>
        <article class="detalle">
                <p>Jabonera de madera</p>
                <p id="precio" >$350</p>
            <section class="cantidad-tachito">
                <form>
                    <input type="number" id="cantidad" name="quantity">
                </form>
                <form>
                    <input type="hidden" id="producto" name="product" value="2">
                    <button type="submit">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form>
            </section>
        </nav>
            
        <nav class="opciones">
            <ul type = none>
                    <li><a href= #> Comprar ahora</a></li>
                    <li><a href= #> Guardar para después </a></li>
                     
            </ul>
                </nav>
            

        </article>

    </section>
</section>

<section class="segunda">       
    <section class="sin-envio">
        <article id="total">
        <p>Total (sin envío):</p>
        </article>
        <article>
       <p>$ 430</p>
        </article>
    </section> 
    <section class="izquierda"></section>
            <i class="fas fa-truck"></i>
            <span class="medios"> Medios de envío</span>
        <form>
            <input type="text" id="codigoPostal" name="postalCode" placeholder="Ingrese su código postal">
            <button type="CALCULAR">CALCULAR</button>
        </form>
        <a class="conocer" href="https://www.correoargentino.com.ar/formularios/cpa">No conozco mi código postal</a>
    </section>
</section>
<hr>
<footer class= "footer">

    <div class="navegadorFooter">
       <nav>
        <ul>
            <li><a href= #> Inicio </a></li>
            <li><a href= #> Productos </a></li>
            <li><a href= #> Nosotros </a></li>
        </ul>
        </nav>
    </div>

    <div class="mediosDePago">
        <h2>Medios de pago</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="Logo-de-visa">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Logo-de-Mastercard">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" alt="Logo-de-AmericanExpress">
    <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" alt="Logo-de-Mercadopago">
    </div>

    <div class="contacto">
    <h2> Contactanos </h2>
    <a href= #> info@ecobitad.com </a>
    </div>

    <div class="redes-sociales">
        <h2>Redes Sociales</h2>
        <nav>
    <ul id="iconos-redes">
        <li><a href= #> <i class="fab fa-instagram"></i> </a></li>
        <li><a href= #> <i class="fab fa-twitter"></i> </a></li>
        <li><a href= #> <i class="fab fa-facebook"></i> </a></li>
    </ul>
    
    </section>

</footer> 

<div>
    <p id = "derechos">
        Todos los derechos reservados.
    </p>
</div>

</body>

</html>

