
<!DOCTYPE html>

<html>
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <link href= "header.css" rel= "stylesheet">
    
    <title> EcoBitad </title>
    
    <script src="https://kit.fontawesome.com/d8781bdac2.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <section>
            <h1>Carrito de compras</h1>
            <h2>Producto</h2>
            <h2>Subtotal</h2>
            
        </section>
    </body>