<!DOCTYPE html>

<html lang = "es">
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel= "Stylesheet" href= "/css/home.css">
    <link rel= "Stylesheet" href= "/css/header.css">
    <link rel= "Stylesheet" href= "/css/footer.css">
    
    
    <title> EcoBitad </title>
    
    <script src="https://kit.fontawesome.com/d8781bdac2.js" crossorigin="anonymous"></script>

    </head>

    <body>
    
        <header class= "header">

            <nav class="menuM">
        <ul type = none>
            <li><a href= #> <i class="fas fa-bars"></i> </a>
            <ul>
                <li><a href= #> Inicio </a></li>
                <li><a href= #> Productos </a></li>
                 <li><a href= #> Nosotros </a></li>
            </ul>
        </li>
        </ul>
            </nav>
        
            <nav class="menuD">
                <ul type = none>
                        <li><a href= #> Inicio </a></li>
                        <li><a href= #> Productos </a></li>
                         <li><a href= #> Nosotros </a></li>
                </ul>
                    </nav>
       
        <a href= # class = "iconosHeader"><i class="fas fa-search"></i></a>
        
        <img src = "/img/Logo - Blanco.png" alt = "Logo">

        <a href= # class = "iconosHeader"><i class="far fa-user"></i></a>
        <a href= # class = "iconosHeader"><i class="fas fa-shopping-cart"></i></a>
        
        <ul id="iconosD">
            <li> <a href= #><i class="fas fa-search"></i></a> </li>
            <li> <a href= #><i class="far fa-user"></i></a></li>
            <li><a href= #><i class="fas fa-shopping-cart"></i></a></li>
        </ul>

    </header>
        <section id="banner-main">
            <article>
                <figure>
                    <img src="/img/slidder 1.jpg" alt="">
                </figure>
                <h2> SOMOS COMO NOS VINCULAMOS </h2>
            </article>
            
         </section>
         <section id="categorias">
           
            
                    <figure>
                       <a href="#"> BAÑOS </a> <img src="/img/baño.jpg" alt="">
                    </figure>
                       <figure>
                        <a href="#"> COCINA </a> <img src="/img/cocina.jpg"alt="">
                       </figure>
                      <figure>
                        <a href=""> ON THE GO </a> <img src="/img/imagen 3.jpg" alt="">
                    </figure>
            
        </section>
        
        
        <p id="frases">
            <h3> CUIDAR LA NATURALEZA, ES CUIDAR DE NOSOTROS </h3>
            
            <h4>DEJA TU HUELLA</h4>
        
        </p>
        
        <section id="productos">
            <figure>
                <a href="#"><img src="\img\meraki.jpg" alt=""></a>
                <p id="descripcion"> Cepillos de bambu biodegradables</p>
                <p id="precio"> $280 </p>
            </figure>
            <figure>
                <a href="#"><img src="\img\bolsas bio.jpg" alt=""></a>
                <p id="descripcion"> Bolsas biodegradables</p>
                <p id="precio"> $80 </p>
            </figure>
            <figure>
                <a href="#"><img src="\img\sorbete de acero.png" alt="">
                </a> 
                <p id="descripcion"> Sorbetes reutilizables de acero</p>
                <p id="precio"> $150 </p>
            </figure>
            <figure>
                <a href="#">
                    <img src="\img\shampoo eco.jpg" alt=""></a> 
                <p id="descripcion"> Shampoo vegetal</p>
                <p id="precio"> $300 </p>
               
            </figure>
            <figure>
                <a href="#">
                    <img src="\img\detergente solido.jpg" alt=""></a> 
                <p id="descripcion"> Detergente solido</p>
                <p id="precio"> $180 </p>
               
                </figure>
                <figure>
                    <a href="#">
                        <img src="\img\cubiertos.png" alt=""></a> 
                    <p id="descripcion"> Cubiertos de madera</p>
                    <p id="precio"> $220 </p>
                   
                    </figure>

        </section>
        <section id="productos">
            <figure>
                <a href="#"><img src="\img\botella meraki.png" alt=""></a>
                <p id="descripcion">Botella de acero inoxidable</p>
                <p id="precio"> $2.460 </p>
            </figure>
            <figure>
                <a href="#"><img src="\img\acondicionador eco.jpg" alt=""></a>
                <p id="descripcion">Acondicionador solido</p>
                <p id="precio"> $130 </p>
            </figure>
            <figure>
                <a href="#"><img src="\img\holder.png" alt="">
                </a> 
                <p id="descripcion">Holder de cepillos biodegradable</p>
                <p id="precio"> $290 </p>
            </figure>
            <figure>
                <a href="#">
                    <img src="\img\jabonera.jpg" alt=""></a> 
                <p id="descripcion">Jabonera de bambu</p>
                <p id="precio"> $245 </p>
               
            </figure>
            <figure>
                <a href="#">
                    <img src="\img\infusor de te.jpg" alt=""></a> 
                <p id="descripcion">Infusor de te</p>
                <p id="precio"> $420 </p>
               
                </figure>
                <figure>
                    <a href="#">
                        <img src="\img\rasuradora de acero.png" alt=""></a> 
                    <p id="descripcion">Rasuradora de acero</p>
                    <p id="precio"> $520 </p>
                   
                    </figure>

        </section>
        <section id="productos">
            <figure>
                <a href="#"><img src="\img\jabone eco.jpg" alt=""></a>
                <p id="descripcion">Jabon ecologico</p>
                <p id="precio"> $140 </p>
            </figure>
            <figure>
                <a href="#"><img src="\img\protector solar.jpg" alt=""></a>
                <p id="descripcion">Protector solar</p>
                <p id="precio"> $450 </p>
            </figure>
            <figure>
                <a href="#"><img src="\img\isopos.jpg" alt="">
                </a> 
                <p id="descripcion">Isopos biodegradable</p>
                <p id="precio"> $170 </p>
            </figure>
            <figure>
                <a href="#">
                    <img src="\img\esponja vegetal.png" alt=""></a> 
                <p id="descripcion"> Esponja vegetal</p>
                <p id="precio"> $240 </p>
               
            </figure>
            <figure>
                <a href="#">
                    <img src="\img\peine de madera.png" alt=""></a> 
                <p id="descripcion">Peine de bambu</p>
                <p id="precio"> $270 </p>
               
                </figure>
                <figure>
                    <a href="#">
                        <img src="\img\mate de acero inox.jpg" alt=""></a> 
                    <p id="descripcion">Mate de acero inoxidable</p>
                    <p id="precio"> $750 </p>
                   
                    </figure>

        </section>
        <button type="menu" id="todoslosproduct"> Ver todos los productos </button>
       
        <a  id="insta" href="#"><p>@ECO.BITAD</p> </a>
       
        <section id="deco">
            <figure>
                <a href="#"><img src="\img\botella meraki fondo.jpg" alt=""></a>
            </figure>
            <figure>
                <a href="#"><img src="\img\jabon fondo.jpg" alt=""></a>
            </figure>
            <figure>
                <a href="#"><img src="\img\bolsas fondo.png" alt=""></a>
            </figure>
            <figure>
                <a href="#"><img src="\img\desodorante solido.png" alt=""></a>            
            </figure>

        </section>
    
<footer class= "footer">
    <div class="navegadorFooter">
       <nav>
        <ul>
            <li><a href= #> Inicio </a></li>
            <li><a href= #> Productos </a></li>
            <li><a href= #> Nosotros </a></li>
        </ul>
        </nav>
    </div>

    <div class="mediosDePago">
        <h2>Medios de pago</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="Logo-de-visa">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Logo-de-Mastercard">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" alt="Logo-de-AmericanExpress">
    <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" alt="Logo-de-Mercadopago">
    </div>

    <div class="contacto">
    <h2> Contactanos </h2>
    <a href= #> info@ecobitad.com </a>
    </div>

    <div class="redes-sociales">
        <h2>Redes Sociales</h2>
        <nav>
    <ul id="iconos-redes">
        <li><a href= #> <i class="fab fa-instagram"></i> </a></li>
        <li><a href= #> <i class="fab fa-twitter"></i> </a></li>
        <li><a href= #> <i class="fab fa-facebook"></i> </a></li>
    </ul>
    
    </section>

</footer> 

<div>
    <p id = "derechos">
        Todos los derechos reservados.
    </p>
</div>
    </body>
</html>
