<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <title> EcoBitad </title>
    <link href="/public/css/product.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e84d4ae1d5.js" crossorigin="anonymous"></script>
</head>

<body>
<nav>
        <a href="https://www.ecobitad.com">Inicio</a></li>
        <span> / </span>
        <a href="https://www.ecobitad.com"> Categoria</a></li>
        <span> / </span>
        <a href="https://www.ecobitad.com">Producto</a></li>
    </nav>


    <figure>
        <img src="/assets/images/cepillos.jpg" width="160" height="160">
    </figure>

    
</body>