<!DOCTYPE html>

<html lang = "es">
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width th, initial -scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link hrel="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" rel="Logo-de-AmericanExpress">
    <link hrel="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" rel="Logo-de-Mercadopago">
    <link rel= "Stylesheet" href= "/css/product.css">
    <link rel= "Stylesheet" href= "/css/header.css">
    <link rel= "Stylesheet" href= "/css/footer.css">
    <link rel= "Stylesheet" href= "/img/visa.png">
    <link rel= "Stylesheet" href= "/img/mastercard.png">
    
    
    <title> EcoBitad </title>
    
    <script src="https://kit.fontawesome.com/d8781bdac2.js" crossorigin="anonymous"></script>

    </head>

    <body>
    
        <header class= "header">

                <nav class="menuM">
            <ul type = none>
                <li><a href= #> <i class="fas fa-bars"></i> </a>
                <ul>
                    <li><a href= #> Inicio </a></li>
                    <li><a href= #> Productos </a></li>
                     <li><a href= #> Nosotros </a></li>
                </ul>
            </li>
            </ul>
                </nav>
            
                <nav class="menuD">
                    <ul type = none>
                            <li><a href= #> Inicio </a></li>
                            <li><a href= #> Productos </a></li>
                             <li><a href= #> Nosotros </a></li>
                    </ul>
                        </nav>
           
            <a href= # class = "iconosHeader"><i class="fas fa-search"></i></a>
            
            <img src = "/img/Logo - Blanco.png" alt = "Logo">

            <a href= # class = "iconosHeader"><i class="far fa-user"></i></a>
            <a href= # class = "iconosHeader"><i class="fas fa-shopping-cart"></i></a>
            
            <ul id="iconosD">
                <li> <a href= #><i class="fas fa-search"></i></a> </li>
                <li> <a href= #><i class="far fa-user"></i></a></li>
                <li><a href= #><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </header>                                                                                                                                                                                                                                        

<nav class="izquierda">
        <a href="https://www.ecobitad.com">Inicio</a></li>
        <span> / </span>
        <a href="https://www.ecobitad.com"> Baño</a></li>
        <span> / </span>
        <a href="https://www.ecobitad.com">Cepillo de dientes de bambú</a></li>
    </nav>

    
    

<section class="contenedor">


        <section id="miniaturas">
            <img src="/assets/images/cepillos.jpg" >
            <img src="/assets/images/mascepillos.jpg" id="specific">
        </section>

        <section id="destacada">
            <img src="/assets/images/mascepillos.jpg" >
        </section>

        <section class="contenedor-chico-2">
            <article class="detalles">
                <p>CEPILLO DE DIENTES DE BAMBÚ</p>
            </article>
                <p class="precio">$8O</p>
       
                <section class="medios-de-pago">
                    <h1 class="medios">MEDIOS DE PAGO</h1>
                    <div class="tarjetas">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="Logo-de-visa">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Logo-de-Mastercard">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" alt="Logo-de-AmericanExpress">
                        <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" alt="Logo-de-Mercadopago">
                    </div> 
                    </section>
         
            <section class="delivery">
                <P >COLOR:</P>
                <div class="colores">
                    <button class="lila lila1"name="lila">Lila</button>
        
                    <button class="musgo musgo1" name="MUSGO">Musgo</button>
                    <button class="aqua aqua1 " name="AQUA">Aqua</button>
                </div>
            </section>
          <br>
            <input type="submit" class="agregar" value="Agregar al carrito" style="display: inline-block;">
            <section class="pago">
                <i class="fas fa-truck"></i>
                <span class="mediosFrase"> Medios de envío</span>
            <form >
                <input class="ingrese" type="text" id="codigoPostal" name="postalCode" placeholder="Ingrese su código postal">
                <button class="calcular" type="CALCULAR">CALCULAR</button>
                <br>
                <article class="correo">
                <a href=  "https://www.correoargentino.com.ar/formularios/cpa">No conozco mi código postal</a>
                </article>
            </form>
            </section>   
        </section>
    </section>
    <section class="descripcion">
<h1 class="titulo">Descripción:</h1>

    <h2 class="explicacion">Cepillos ecológicos de bambú Ecobitad. Promo combo de 8 unidades con sus envases. Modelos Adultos en 3 colores, para que en una misma familia los puedan distinguir. Tres tipos de suavidades de cerdas: Duro, Medio, Suave.    
    Tanto el mango de los cepillos Ecobitad como sus cajas son biodegradables.
    Estos cepillos tienen la misma vida útil que los convencionales fabricados con plástico. Sus cerdas están fabricadas a base de Nylon (3% del total del producto) para asegurar una calidad óptima de lavado. El bambú del mango puede perdurar por años cuando se almacena en un lugar seco.  
    El diseño estético de los cepillos Ecobitad concilia la higiene dental con un agradable diseño estético. 
    El bambú es una de las plantas con la mayor tasa de crecimiento del mundo. Su cosecha se realiza sobre montes silvestres en China, donde abarca grandes extensiones. Los rebrotes que quedan post-cosecha, alcanzan el tamaño de los individuos maduros en tan solo dos años, sin necesidad de replantar, utilizar fertilizantes, herbicidas o riego artificial.</h2>
</section>

</section>
</body>

<footer class= "footer">

    <div class="navegadorFooter">
       <nav>
        <ul>
            <li><a href= #> Inicio </a></li>
            <li><a href= #> Productos </a></li>
            <li><a href= #> Nosotros </a></li>
        </ul>
        </nav>
    </div>

    <div class="mediosDePago">
        <h2 >Medios de pago</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="Logo-de-visa">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Logo-de-Mastercard">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" alt="Logo-de-AmericanExpress">
    <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" alt="Logo-de-Mercadopago">
    </div>

    <div class="contacto">
    <h2> Contactanos </h2>
    <a href= #> info@ecobitad.com </a>
    </div>

    <div class="redes-sociales">
        <h2>Redes Sociales</h2>
        <nav>
    <ul id="iconos-redes">
        <li><a href= #> <i class="fab fa-instagram"></i> </a></li>
        <li><a href= #> <i class="fab fa-twitter"></i> </a></li>
        <li><a href= #> <i class="fab fa-facebook"></i> </a></li>
    </ul>
    
    </section>

</footer> 

<div>
    <p id = "derechos">
        Todos los derechos reservados.
    </p>
</div>

</html>

