<!DOCTYPE html>

<html lang = "es">
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1">
    <link rel= "Stylesheet" href= "../public/css/register.css">
    
    <title> EcoBitad </title>
    
    <script src="https://kit.fontawesome.com/d8781bdac2.js" crossorigin="anonymous"></script>

    </head>

    <body>
    
        <header class= "header">

            <div class = "container-header">
                <img src = "../public/img/Logo - Blanco.png" width="150px" alt = "Logo">     

            <ul type = none id="menu">
                <li><a href= #> Inicio </a></li>
                <li><a href= #> Productos </a></li>
                <li><a href= #> Nosotros </a></li>
            </ul>

            <ul type = none id="iconos">
                <li><a href= #><i class="fas fa-search"></i></a></li>
                <li><a href= #><i class="far fa-user"></i></a></li>
                <li><a href= #><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
            
        
        </header>
        
        <p>
            Acá
        </p>
        <p>
            Van
        </p>
        <p>Los
        </p>
        <p>Formularios</p>
        

        </body>

<footer class= "footer">
    <div class = "container-footer">
       
        <ul type = none id="menu-footer">
            <li><a href= #> Inicio </a></li>
            <li><a href= #> Productos </a></li>
            <li><a href= #> Nosotros </a></li>
        </ul>

    <ul type = none id = "medios-de-pago">
        <li> Medios de pago </li>
        <li> <img src = "../public/img/Visa.gif" width="20px" height="20px" alt = "Visa"> </li>
        <li> <img src = "../public/img/Mastercard.png" width="20px" height="20px" alt = "Mastercard"> </li>
    </ul>

    <ul type = none id="contacto">
        <li> Contactanos </li>
        <li><a href= #> info@ecobitad.com </a></li>
    </ul>

    <ul type = none id="redes-sociales">
        <li> Redes Sociales </li>
        <li><a href= #> Ig </a></li>
        <li><a href= #> Tw </a></li>
        <li><a href= #> Fb </a></li>
    </ul>

    </div>
</footer> 

<div>
    <p id = "derechos">
        Todos los derechos reservados.
    </p>
</div>

</html>