<!DOCTYPE html>

<html lang = "es">
     
  <%- include ('./partials/head') %>

    <body>

        <%- include ('./partials/header') %> 

        <div id="contenedor">
            Somos Ecobitad. Un proyecto que nació en el contexto del curso de Programación web Full Stack de Digital House.
            Somos 3 compañeros que por diferentes motivos decidimos comenzar a adentrarnos en el mundo de la programación web. 
            Así nació Ecobitad, con el propósito de aplicar los conocimientos adquiridos hasta ahora en un modelo de e-commerce.
        </div>
        
        <%- include ('./partials/footer') %>

    </body>
</html>
